@font-face {
  font-family: "iconfont"; /* Project id 5014959 */
  src: url('iconfont.woff2?t=1757061823286') format('woff2'),
       url('iconfont.woff?t=1757061823286') format('woff'),
       url('iconfont.ttf?t=1757061823286') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-dark:before {
  content: "\e626";
}

.iconfont-light:before {
  content: "\e647";
}

